<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PIM-Server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthenticationController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.AuthenticationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationController</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/request</url-pattern>
    <url-pattern>/request/*</url-pattern>
    <url-pattern>/request/*/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/PIM-Server/Error/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/PIM-Server/Error/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ComicVineController</display-name>
    <servlet-name>ComicVineController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.ComicVineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComicVineController</servlet-name>
    <url-pattern>/comicvine</url-pattern>
    <url-pattern>/comicvine/*</url-pattern>
    <url-pattern>/comicvine/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonController</display-name>
    <servlet-name>AmazonController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.AmazonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonController</servlet-name>
    <url-pattern>/amazon</url-pattern>
    <url-pattern>/amazon/*</url-pattern>
    <url-pattern>/amazon/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotifyController</display-name>
    <servlet-name>SpotifyController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.SpotifyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyController</servlet-name>
    <url-pattern>/spotify</url-pattern>
    <url-pattern>/spotify/*</url-pattern>
    <url-pattern>/spotify/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SteamController</display-name>
    <servlet-name>SteamController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.SteamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SteamController</servlet-name>
    <url-pattern>/steam</url-pattern>
    <url-pattern>/steam/*</url-pattern>
    <url-pattern>/steam/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IMDBController</display-name>
    <servlet-name>IMDBController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.IMDBController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IMDBController</servlet-name>
    <url-pattern>/imdb</url-pattern>
    <url-pattern>/imdb/*</url-pattern>
    <url-pattern>/imdb/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ISBNDBController</display-name>
    <servlet-name>ISBNDBController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.ISBNDBController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ISBNDBController</servlet-name>
    <url-pattern>/isbndb</url-pattern>
    <url-pattern>/isbndb/*</url-pattern>
    <url-pattern>/isbndb/*/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MasterController</display-name>
    <servlet-name>MasterController</servlet-name>
    <servlet-class>uk.co.kyleharrison.pim.controller.MasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterController</servlet-name>
    <url-pattern>/master</url-pattern>
    <url-pattern>/master/*</url-pattern>
    <url-pattern>/master/*/*</url-pattern>
  </servlet-mapping>
</web-app>